div.calendar_title {
	color: #2d002d;
	font-size:15px;
	clear:both;
	float:none;
}
div.calendar_content{
	clear:both;
	float:none;
	margin-right: 20px;
	margin-top: 20px;
}
.calendar_item{
	margin-top: 20px;
}
.calendar_item_photo{
	width: 140px;
}
.calendar_item_content{
}
div.calendar_item_title{
	clear: both;
	float: none;
	margin-left: 30px;
	margin-top: 10px;
}
div.calendar_item_title a{
	text-decoration: underline;
	color: #2d002d;
}
div.calendar_item_text{
	clear: both;
	float: none;
	margin-left: 30px;
	margin-top: 10px;
}
div.calendar_empty {
	line-height:200px;
	height:350px;
	width:100%;
	vertical-align:middle;
	text-align:center;
	font-size: 22px;
}