.menu_main {
	background-color: #2d002d;
	color: #ffffff;
	font-size: 15px;
}
.menu_main tr td {
	cursor: pointer;
}
.menu_main tr td a{
	color: #ffffff;
	font-size: 15px;
}
.menu_main tr td.active,
.menu_main tr td.hover{
	color: #2d002d;
	background-color: #ffffff;
}
.menu_main tr td.active a,
.menu_main tr td.hover a{
	color: #2d002d;
}