div.feedback_content div.feedback_content_text{
	margin: 20px 20px 0 0;
	text-align: justify;
	clear: both;
	float: none;
}

div.feedback_content h3{
	font-size: 16px;
	color: #2d002d;
	clear: both;
	float: none;
}
div.feedback_content img.feedback_photo{
	margin: 0 55px 0 20px;
}